/* first line */
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box
    
}

.box1{
     width: 1228px;
    height: 139px;
    background-color: lightgoldenrodyellow;
}


.box2{
    height: 36px;
    width: 1168px;
    display: flex;
    justify-content: center;
     text-align: center;
     color: #333333;
     font-size: 32px;
     font-family: sans-serif;
     font-weight: bold;
     padding-top: 50px;

}
/* first second */
.box3{
    height: 38px;
     width: 1228px;
    display: flex;
    justify-content: center;
     text-align: center;
    background: rgba(0,0,0,0.7);


}
a{
    height: 19px;
    width: 64px;
    display: flex;
    justify-content: center;
     text-align: center;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
    color: #FFFF;
    padding-top: 10px;
    padding-right: 20px;
    text-decoration: none;
    margin-right: 30px;
}
/* first three */
.box4{
    height: 206px;
    width: 1228px;
    background-color: lightsalmon;
}
.box5{
     height: 31px;
    width: 1168px;
    display: flex;
    justify-content: center;
     text-align: center;
     color: #333333;
     font-size: 24px;
     font-family: sans-serif;
     font-weight: bold;
     padding-top: 50px;
}
.box6{
     height: 31px;
    width: 1168px;
    display: flex;
    justify-content: center;
     text-align: center;
     color: #333333;
     font-size: 16px;
     font-family: sans-serif;
     padding-top: 50px;
}
.box7{
    height: 688px;
   width: 1228px;
    background-color: lightsalmon;
}
.box8{
    height: 28px;
    width: 1168px;
    display: flex;
    justify-content: center;
     text-align: center;
     color: #333333;
     font-size: 24px;
     font-family: sans-serif;
     font-weight: bold;
    
}

.box9{
    height: 180px;
    width: 350px;
    background-color: white;
    border-radius: 10px;

    justify-content: center;
     text-align: center;
     margin-top: 20px;
     margin-left: 420px;
     margin-right: 420px;
}
.box9:hover{
   transform: scale(1.1);
  transition: ease-in-out 0.7s;
   background-color: lightyellow;

}
.box10{
    height: 50px;
    width: 300px;
     color: #333333;
     font-size: 18px;
     font-family: sans-serif;
     font-weight: bold;
     padding-top: 30px;
     padding-left: 30px;

}

.box11{
     height: 100px;
    width: 340px;
    display: flex;
    justify-content: center;
     text-align: center;
     color: #333333;
     font-size: 16px;
     font-family: sans-serif;
     padding-top: 30px;
     padding-left: 20px;
}

.box12{
    width: 1228px;
    height: 91px;
    background-color: #000000B3;
}
p{
    height: 19px;
    width: 1188px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: sans-serif;
    padding-top: 50px;
}